body{
    padding: 0px;
    margin: 0px;
    color: white; 
    text-align: center; 
    font-size: 26px;
    line-height: 15px;
    font-family: 'Roboto Mono', monospace; 
    background-color: #022E4A;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
}
.container{
    display: flex;
    flex-wrap: wrap ;
    justify-content:center;
    width: 90%;
    margin: auto;
}
.card{
    color: #FF9900;
    background-color: #06476F;
    margin: 20px;
    line-height: 0px;
    width: 333px;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.5);
}

hr{
    height: 1px;
    background-color: #FF9900;
    border: none;
    width: 80%;
}
h1{
    margin: 50px 0px;
}
h3{
    margin-bottom: 20px;
}
.g{
    color: #5ef78c !important;
}
h4{
    color: #F75E5E;
}
h5{
    color: #7D7D7D;
}
h1{
    font-size: 60px;
}